.banner {
    margin-top: 1rem;
    background-color: #fff;
    /*border: 1px solid red;*/
}

.banner-left {
    float: left;
    width: 28%;
    height: 2.08rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /*border: 1px solid red;*/
}

.banner-left>img {
    width: 1.48rem;
    height: 1.48rem;
    margin-top: 0.3rem;
}

.banner-right {
    float: left;
    width: 72%;
    height: 2.08rem;
    display: table;
    /*border: 1px solid red;*/
}

.banner-right-inner {
    display: table-cell;
    vertical-align: middle;
}

.banner-title {
    font-size: 0.28rem;
    color: #4d4d4d;
}

.banner-price {
    font-size: 0.48rem;
    color: #fc3750;
}

.pay-item {
    height: 1rem;
    line-height: 1rem;
}

.pay-l {
    width: 18%;
    float: left;
}

.pay-r {
    width: 82%;
    float: left;
    border-bottom: 0.01rem solid #f0f0f0;
}

.pay-img {
    width: 0.58rem;
    height: 0.48rem;
    vertical-align: middle;
    margin-left: 0.4rem;
}

.pay-text {
    font-size: 0.34rem;
    color: #4d4d4d;
    float: left;
}

.pay-remark {
    font-size: 0.24rem;
    color: #ff334b;
}

.pay-icon {
    width: 0.46rem;
    height: 0.46rem;
    margin-right: 0.26rem;
    vertical-align: middle;
}
